@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat.ttf');
}
html, body {
    margin: 0; padding: 0;
}

*{
    transition: .8s;
    box-sizing: border-box;

    font-family: 'Montserrat';
}

a {
    text-decoration: none;
}

nav {
    width: 100%; height: 10dvh;
    padding:  2.5%;

    background-color: #fafafa;
    border-top: 3px solid #DF6252;

    position: fixed; top : 0; left: 0;
    display: flex; justify-content: space-between; align-items: center;
    z-index: 999;
}

nav > div > a > img{
    width: 10dvh; height: 10dvh;
    padding: 5%;
}

nav > div {
    display: flex; align-items: center; justify-content: flex-end;
    width: 30%;
}

nav > div:last-of-type > button:last-of-type {
    
    width: 30%;
    background-color: #DF6252; color: #FBFBF2; font-family: 'Montserrat'; font-weight: bold;
    border: none; border-radius: 5dvh;

    padding: 4%; margin: 5%;
}

nav > div:last-of-type > button:last-of-type:hover {
    background-color: #b3493b;
}

nav > div > a, nav > div > button {
    background: none; border: none;
    color: #DF6252; font-weight: bold;
    
    padding: 5%;
}

nav > div:first-of-type > div{
    position: absolute;
    transform: translateY(-15dvh);
    
    z-index: -5;

    background-color: #fafafa; border-radius: 5dvh;
    padding: 2%;
}

nav > div:last-of-type > a > img {
    width: 4dvh; height: 4dvh;
}

button:hover, input:hover {

    cursor: pointer;
}

label {
    color: #DF6252; font-weight: bold;

    margin: 1%;
}

/* CONNEXION */

#login {
    position: fixed; top: 0;
    width: 100%; height: 100dvh;
    
    display: flex; justify-content: flex-end; align-items: center;

    background-color: #DF6252; color: #DF6252;
    z-index: 999;

    transform: translateY(-100dvh);
    transition: 1.5s;
}

#login > div {
    width: 25%; height: 65dvh;
    margin: 5%;

    border-radius: 5dvh;
    background-color: #fafafa;

    display: flex; flex-direction: column; justify-content: center; align-items: center;
}

#login > div > form {
    display: flex; flex-direction: column;    justify-content: center;    align-items: center;
    
    width: 100%;
    padding: 10%;

}

#login > div > form > div {
    width: 100%;
    padding: 3% 0;
}

#login > div > form > div > input {
    width: 100%;
    padding: 3%;

    background-color: #eee9e9; border-radius: 5dvh; color: #DF6252;
    border: none;
}

#login > div > form > input:last-of-type {
    width: 100%;
    padding: 5%;

    background-color: #DF6252; border-radius: 5dvh; color: #fafafa; font-weight: bold;
    border: none;
}

#login > div > form > input:last-of-type:hover {
    background-color: #b3493b;
}

#login > button {
    background: none; border: none;
    color:#fafafa; font-weight: bold; font-size: 1.5rem;
    
    position: absolute; top : 0; right: 0;
    padding: 2%;
}


#login > button:hover {
    scale: 1.1;
}

/* Create Flashcard */

#create {
    width: 100%; height: 100dvh;

    display: flex; justify-content: space-evenly; align-content: center;
}

#create > div:first-of-type{
    width: 30%; 
}

#create > div:last-of-type{
    width: 70%; min-height: 100%;

    display: flex; flex-direction: column; justify-content: center; align-items: center;
}


#create > div:first-of-type > form {
    width: 100%; min-height: 100%;
    padding: 5%;

    display: flex; flex-direction: column; justify-content: center; align-items: flex-start;
}

#create > div:first-of-type > form > input[type="text"] {
    width: 100%;
    padding: 3%;

    background-color: #f8f4f4; border-radius: 2dvh;
    color: #DF6252; font-weight: bold;
    border: none;

}

#create > div:first-of-type > form > textarea {
    width: 100%; height: 20dvh;
    padding: 3%;

    background-color: #f8f4f4; border-radius: 2dvh;
    color: #DF6252; font-weight: bold;
    border: none;

    resize: none;

}

#create > div:first-of-type > form > input[type="submit"] {

    width: 20%;
    padding: 1%; margin: 2% 0;

    background-color: #DF6252; border-radius: 1dvh; color: #fafafa; font-weight: bold; font-size: 1.2rem;
    border: none;

}

#create > div:last-of-type > form > button {
    position: fixed;    bottom :0; right: 0;
    margin: 2%;
    width: 5dvh; height: 5dvh;

    background-color: #DF6252; color:#fafafa; font-size: 1.5rem; font-weight: bold;
    border-radius: 5dvh;
    border: none;
}

#create > div:last-of-type > form {
    width: 100%; min-height: 100%;

    display: flex; flex-direction: column; justify-content: center; align-items: center;
    overflow-y: scroll;
}

#create > div:last-of-type > form > div {
    width: 80%; height: 35dvh;
    padding: 2%; margin: 1%;

    background-color: #f8f4f4; border-radius: 5dvh;
    border: none;

    display: flex; flex-direction: column; justify-content: center; align-items: flex-start;
}

#create > div:last-of-type > div > form{
    width: 100%;

    display: flex; flex-direction: column;
}

#create > div:last-of-type > form > div > input[type="text"] {
    width: 100%;
    padding: 2%;

    background-color: #fafafa; border-radius: 2dvh;
    color: #DF6252; font-weight: bold;
    border: none;
}

#create > div:last-of-type > form > input[type="submit"] {
    position: fixed;    bottom : 0; right: 5%;

    width: 10%;
    padding: 1%; margin: 2%;

    background-color: #DF6252; border-radius: 2dvh; color: #fafafa; font-weight: bold;
    border: none;

    align-self: flex-end;
}