@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat.ttf');
}

@keyframes floating {
    0%{
        transform: unset;
    }
    33%{
        transform: translateY(10%);
    }
    100%{
        transform: unset;
    }
}
html, body {
    margin: 0; padding: 0;
}

body {
        --d: 2px; 
   
   background : radial-gradient(
     circle at 
        var(--d) 
        var(--d), 
        
     #f002022d calc(var(--d) - 1px), 
     #0000 var(--d)
   ) 
   0 0 / 25px 25px;
}

*{
    transition: .8s;
    box-sizing: border-box;

    font-family: 'Montserrat';
}

strong {
    background-color: #DF6252; color: #fafafa;
}

#error {
    position: fixed;
    top : 5%;
    width: 100%;
    display: flex; justify-content: center; align-items: center;

    transform: translateY(-200%);
    transition: 1s; transition-delay: 2.5s;
}

#error > p {
    width: 30%; padding: 1%;

    text-align: center;
    background-color: #DF6252; color: #fafafa; font-weight: bold;
    border-radius: 2dvh;
}

#tutorial {
    position: fixed; top:0; left: 0;

    padding: 2%; margin: 10%;
    background-color: #DF6252; border-radius: 5dvh; color: #fafafa; font-weight: bold;

    box-shadow: 0 0 5dvh #df635292;
    transform: translateY(-300%);
    transition: 2s;
}

#tutorial > p:last-of-type {
    display: none;
}

nav > div > img {
    width: 5dvh; height: 5dvh;
}

nav img:hover {
    scale: 1.1;
}
nav > div:last-of-type > img:hover {
    cursor: pointer;
    rotate: 5deg;
}

nav > div:first-of-type > img:first-of-type {
    width: 3dvh; height: 3dvh;
}

nav > div:first-of-type > img:first-of-type:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    transition: 1s;
}

.hoverLink:hover {
    padding: 3%;

    background-color: #DF6252; color: #fafafa;
    border-radius: 2dvh;
}

nav {
    width: 100%; height: 10dvh;
    padding:  2.5%;

    border-top: 3px solid #DF6252;

    position: sticky; top : 0; left: 0;
    display: flex; justify-content: space-between; align-items: center;
    z-index: 999;
}

nav > div > a > img{
    width: 10dvh; height: 10dvh;
    padding: 5%;
}

nav > div {
    display: flex; align-items: center; justify-content: center;
    width: 40%;
}

nav > div:last-of-type > button:last-of-type {
    
    background: transparent; color: #DF6252; font-family: 'Montserrat'; font-weight: bold;
    border: 1px solid #DF6252; border-radius: 5dvh; box-shadow: 0 .8dvh 0 #DF6252;

    padding: 2.5%; margin: 5%;
}

nav > div:last-of-type > button:last-of-type:hover {
    box-shadow: 0 0 0 #DF6252; transform: translateY(10%);
}

nav > div > a, nav > div > button {
    background: none; border: none;
    color: #DF6252; font-weight: bold;

    border-radius: 2dvh;
    
    margin: 5%;
}

nav > div:first-of-type > div{
    position: absolute;
    transform: translateY(-15dvh);
    
    z-index: -5;

    background-color: #fafafa; border-radius: 5dvh;
    padding: 2%;
}

nav > div:last-of-type > a > img {
    width: 4dvh; height: 4dvh;
}

button:hover, input:hover {

    cursor: pointer;
}

label {
    color: #DF6252; font-weight: bold;

    margin: 1%;
}
/* MAIN */

#mainSection {
    width: 100%; height: 80dvh;

    display: flex; justify-content: center; align-items: center; flex-direction: column;
    font-size: 1.5rem;
}

#mainSection h1 {
    font-size: 3rem;
    margin: 0;
}

#mainSection > h1, #mainSection > p{
    color: #DF6252;
    text-align: center;
}

#mainSection > p {
    width: 40%;
}

#mainSection > button {
    width: 30%;
    padding: 1%;
    background : transparent; color: #DF6252;border: 2px solid #DF6252; font-size: 1.2rem; font-weight: bold;
    border-radius: 5dvh;

    animation: 3s ease-out floating infinite;
}

#mainSection > button:hover {
    background-color: #DF6252; color: #fafafa;
}

/* CONNEXION */

#login {
    position: fixed; top: 0;
    width: 100%; height: 100dvh;
    
    display: flex; justify-content: flex-end; align-items: center;

    color: #DF6252;
    z-index: 999;

    transform: translateY(-100dvh);
    transition: 1.5s;

            --d: 2px; 
   
   background : radial-gradient(
     circle at 
        var(--d) 
        var(--d), 
        
     #f5a59a calc(var(--d) - 1px), 
     #DF6252 var(--d)
   ) 
   0 0 / 25px 25px;
}

#login > div {
    width: 25%; height: 65dvh;
    margin: 5%;

    border-radius: 5dvh;
    background-color: #fafafa;

    display: flex; flex-direction: column; justify-content: center; align-items: center;
}

#login > div > p {
    padding: 5%;
}

#login > div > form {
    display: flex; flex-direction: column;    justify-content: center;    align-items: center;
    
    width: 100%;
    padding: 10%;

}

#login > div > form > div {
    width: 100%;
    padding: 3% 0;
}

#login > div > form > div > input {
    width: 100%;
    padding: 3%;

    background-color: #eee9e9; border-radius: 5dvh; color: #DF6252;
    border: none;
}

#login > div > form > input:last-of-type {
    width: 100%;
    padding: 5%;

    background-color: #DF6252; border-radius: 5dvh; color: #fafafa; font-weight: bold;
    border: none;
}

#login > div > form > input:last-of-type:hover {
    background-color: #b3493b;
}

#login > button {
    background: none; border: none;
    color:#fafafa; font-weight: bold; font-size: 1.5rem;
    
    position: absolute; top : 0; right: 0;
    padding: 2%;
}


#login > button:hover {
    scale: 1.1;
}

/* Create Flashcard */

.create {
    width: 100%; 

    display: flex; justify-content: space-evenly; align-items: flex-start;
}

.create h2 {
    color: #DF6252; font-size: 4rem;
    letter-spacing: -3px;
}

.create > div:first-of-type{
    width: 30%; 
}

.create > div:last-of-type{
    width: 70%; min-height: 100dvh;
    padding: 0 5%;

    display: flex; flex-direction: column; justify-content: flex-start; align-items: center;
}

.create > div:last-of-type > form > select {
    padding: 1%;

    background-color: #DF6252; color: #fafafa; font-weight: bold;
    border: none; border-radius: 5dvh;
}


.create > div:first-of-type > form {
    width: 100%; height: 90%;
    padding: 5%;

    display: flex; flex-direction: column; justify-content: center; align-items: flex-start;
}

.create > div:first-of-type > form > input[type="text"] {
    width: 100%;
    padding: 3%;

    background-color: #f8f4f4; border-radius: 2dvh;
    color: #DF6252; font-weight: bold;
    border: none;

}

.create > div:first-of-type > form > textarea {
    width: 100%; height: 20dvh;
    padding: 3%;

    background-color: #f8f4f4; border-radius: 2dvh;
    color: #DF6252; font-weight: bold;
    border: none;

    resize: none;

}

.create > div:first-of-type > form > input[type="submit"] {

    padding: 5%; margin: 2% 0;

    background-color: #DF6252; border-radius: 2dvh; color: #fafafa; font-weight: bold; 
    border: none;

}

.create > hr {
    display: none;
}

.create > div:last-of-type > form > button:first-of-type {
    position: fixed;    bottom :0; right: 0;
    margin: 2%; padding: 1%;

    background-color: #DF6252; color:#fafafa; font-weight: bold;
    border-radius: 5dvh;
    border: none;
}

.create > div:last-of-type > form {
    width: 100%; height: 85%;

    display: flex; flex-direction: column; justify-content: flex-start; align-items: center;
    overflow-y: scroll;
}

#cardList {
    width: 100%;

    display: flex; flex-direction: column; justify-content: flex-start; align-items: center;
}

.create > div:last-of-type > form > div > div {
    width: 80%; height: 25dvh;
    padding: 2%; margin: 2%;

    background-color: #f8f4f4; border-radius: 5dvh;
    border: none;

    display: flex; flex-direction: column; justify-content: center; align-items: flex-start;
}

.create > div:last-of-type > div > form{
    width: 100%;

    display: flex; flex-direction: column;
}

.create > div:last-of-type > form > div > div > input[type="text"] {
    width: 100%;
    padding: 2%;

    background-color: #fafafa; border-radius: 2dvh;
    color: #DF6252; font-weight: bold;
    border: none;
}

.create > div:last-of-type > form > input[type="submit"] {
    position: fixed;    bottom : 0; right: 5%;

    width: 20%;
    padding: 1%; margin: 2%;

    background-color: #DF6252; border-radius: 2dvh; color: #fafafa; font-weight: bold;
    border: none;

    align-self: flex-end;
}

#chooseCreate {
    width: 100%;
    margin: 1% 0;
    display: flex; justify-content: center; align-items: center;
}

#chooseCreate > button {
    
    width: 15%;
    margin: 1%; padding: 1%;

    background-color: #DF6252; color: #fafafa; font-weight: bold;
    box-shadow: 0 1dvh 0 #b3493b;
    border-radius: 5dvh; border: none;
}

#chooseCreate > button:hover {
    transform: translateY(10%);
    box-shadow: 0 0 0 #b3493b;
}

.create:last-of-type {
    display: none;
}

#editClass {
    width: 100%;
    margin: 5% 0;
    background-color: #fafafa; color: #DF6252; border-radius: 5dvh;

    overflow: hidden;
}
#editClass > div { 
    width: 100%; height: unset; text-align: unset;
    display: flex; flex-direction: row; flex-wrap: wrap; justify-content: flex-start; align-items: flex-start;
    
    font-size: 1.2rem;
    background: unset; border-radius: unset;
}

/* Flashcards */

#searchPage > form {
    width: 100%;
    display: flex; justify-content: center; align-items: center;
}

#searchPage > form > input[type="search"]{
    width: 40%;
    padding: 1%; margin: 1%;

    background-color: #DF6252; border-radius: 5dvh; color: #fafafa; font-weight: bold;
    border: none;
    transition: 1s;
}

#searchPage > form > a {
    padding: 1%;

    background-color: #DF6252; border-radius: 5dvh; color: #fafafa; font-weight: bold;
}

input[type="search"]::placeholder{
    color: #fafafa;
}
#decksContainer{
    width: 75%;
    margin: 0 auto;

    display: flex; flex-wrap: wrap; align-items: center; justify-content: flex-start;
}

.deckCard {
    width: 100%; height: 20dvh;
    padding: 5%;
    
    display: flex; justify-content: space-evenly; align-items: flex-start; flex-direction: column;
    background-color: #f8f4f4; color: #DF6252; font-size: 1.2rem; font-weight: bold;
    border-radius: 3dvh; border: none;
    transition: 1s;
}

.deckCard > div > p {
    font-size: .8rem;
}

.deckCard:hover {
    background-color: #DF6252; color: #fafafa;
    scale: 1.05;
    box-shadow: 0 0 5dvh #df63527c;
}

#decksContainer > a {
    width: 30%;
    margin: 1%;
}

#decksContainer > hr {
    width: 100%;
    border: 1px solid #df635259;
    border-radius: 5dvh;
}

/* Deck */

#cards {
    width: 100%; height: 50dvh;

    display: flex; justify-content: center; align-items: center; flex-direction: column;
}

.card {
    transition: 1s;

    perspective: 1000px;

    width: 50%; height: 50%;
    position: absolute;
}

.card:hover {
    cursor: pointer;
    scale: 1.05;
}

#cards > div > div {
    width: 100%; height: 100%;
    text-align: center;

    display: flex; justify-content: center; align-items: center;
    border-radius: 5dvh;
    background-color: #fafafa; color: #DF6252;

    transition: transform 1s;
    transform-style: preserve-3d;
}

#cards > div > div > div {
    position: absolute;
    backface-visibility: hidden;
}

#cards > div > div > div:last-of-type {
    transform: rotateY(180deg);
}

#counters {
    width: 100%;
    display: flex; justify-content: center; align-items: center;
}
#counters > div {
    height: 10dvh;
    padding: 3%; margin: 1%;

    background-color: #DF6252; color: #fafafa; font-weight: bold;
    box-shadow: 0 1dvh 0 #9c3d31;
    border-radius: 5dvh;
    display: flex; flex-direction: column; justify-content: center; align-items: center;
}

.deckCard > div {
    width: 100%;

    display: flex;
}

.deckCard > div > p {
    padding: 3%; margin: 1%;

    background-color: #DF6252; color: #fafafa;
    border: 1px solid #DF6252;
    border-radius: 5dvh;
}

.deckCard:hover > div > p {
    background-color: #f8f4f4; color: #DF6252;
}

.deckCard > * {
    margin : 0;
}

#settings {
    width: 100%;
}

#settings > form {
    width: 100%;
    padding: 1%;

    display: flex; justify-content: flex-end;
}
#settings > form > input {
    width: 10%;
    padding: 1%;

    background-color: #DF6252; color: #fafafa;font-weight: bold;
    border: none; border-radius: 5dvh;
}

#settings > form > input:hover {
    background-color: #b3493b;
}

#favoriteButton {
    background: none;
    border: none;
}

#favoriteButton img {
    width: 3dvh; height: 3dvh;
}

#eraseDeck {
    background: none; color: #DF6252; font-weight: bold;
    border: none;
}

#eraseDeck img {
    width: 4.5dvh; height: 4.5dvh;
}

#favoriteList {
    position: fixed; top:0; left: 0;
    width: 25%; height: 100dvh;
    padding: 2%;

    overflow-y: scroll; 
    background : radial-gradient(
     circle at 
        var(--d) 
        var(--d), 
        
     #f5a59a calc(var(--d) - 1px), 
     #DF6252 var(--d)
   ) 
   0 0 / 25px 25px;
    z-index: 999;

    transform: translateX(-125%);
    transform: 1.5s;

    box-shadow: 0 0 5dvh #df6352a6; color: #fafafa; font-weight: bold;
}

#favoriteList::-webkit-scrollbar {
    width: 0;
}

#favoriteList > a > div {
    margin: 5% 0;
}

#favoriteList > p:hover {
    cursor: pointer;
}

#deckSettings{
    display: none;
}

@media screen and (max-width : 1366px){
    /* Nav */
    nav > div:first-of-type > a > img{
        display: none;

    }
    nav > div:last-of-type{
        width: 50%;
    }
    nav > div > a, nav > div > button {
        margin: 3%;
    }
    nav > div:last-of-type > button{
        padding: 3.5%;
     }
    nav > div:last-of-type > button:last-of-type{
        background-color: #DF6252; color: #fafafa;
        box-shadow: unset;
        padding: 8%;
     }
    /* Main section */

    #mainSection {
        padding: 10%;
    }
    #mainSection > p {
        width: 80%;
        font-size: 1.4rem;
    }
    #mainSection > h1 {
        font-size: 2.5rem;
    }
    #mainSection > button {
        width: 80%;
        padding: 4%;
    }
    /* Login */

    #login > div {
        width: 100%;
    }
    #login > button {
        padding: 5%;
    }
    #searchPage > form > input[type="search"]{
        width: 90%;
        padding: 3.5%;
    }
    #decksContainer{
        width: 90%;
        flex-direction: column;
    }
    #decksContainer > a{
        width: 100%;
    }
    #favoriteList {
        width: 80%;
        padding: 8%;
    }

    #favoriteList > p {
        padding: 5%;
    }

    /* create */

    .create {
        flex-direction: column;
    }
    .create > div:first-of-type {
        width: 100%;
    }
    .create > div:first-of-type > form > input[type="submit"] {
        width: 100%;
    }
    .create > div:last-of-type {
        width: 100%;
        padding-bottom: 30%;
    }
    .create > div > hr {
        display: flex;

        width: 100%;
        border: 1px solid #df63524f;
        margin: 10%;
    }
    .create > div:last-of-type > form > select {
        width: 100%;
    }
    .create > div:last-of-type > form > div > div {
        width: 100%;
    }
    .create > div:last-of-type > form > input[type="submit"] {
        width: 83%; left: 0;
        padding: 4%; margin: 2%;
    }

    #counters {
        position: absolute;
        bottom: 10%;

        padding: 5%;
        justify-content: space-evenly;
    }
    #counters > div {
        width: 100%;
    }
    #deckSettings {
        width: 100%;
        display: flex; justify-content: center; align-items: center;

        position: absolute; bottom: 27%;
    }
    #deckSettings > img, #deckSettings > form{
        width: 5dvh; height: 5dvh;
        display: flex; justify-content: center; align-items: center;
    }

    nav > div:last-of-type > img, nav > div:last-of-type > form {
        display: none;
    }
    #endScore {
        width: 100%;
        padding: 5%;
    }

    .card {
        width: 80%;
    }
    #tutorial {
        padding: 10%;
    }

    #tutorial > p:first-of-type {
        display: none;
    }

    #tutorial > p:last-of-type {
        display: flex;
    }
    .create > div:last-of-type > form > select{
        padding: 5%;
    }
}